.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-btn-1 {
  transition-duration: 1s;
  animation-duration: 1250ms;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 25px -4px 0 auto;
  padding: 10px 461px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  transition-duration: 1s;
  animation-duration: 1250ms;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 25px 0 60px;
  padding: 10px 428px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

.u-section-1 .u-btn-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-1 .u-btn-1:hover {
  transform: rotate(0deg) !important;
}

.u-section-1 .u-btn-2 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-1 .u-btn-2:hover {
  transform: rotate(0deg) !important;
}