.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -1px 0 60px;
  padding: 10px 451px 10px 449px;
}