 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1051px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 672px;
  line-height: 1;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 484px;
  margin: 25px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 51px auto 60px 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/chic-modern-luxury-aesthetics-style-living-room-blue-tone_53876-125839.jpg");
  background-position: 50% 50%;
  min-height: 464px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 464px;
}

.u-section-1 .u-container-layout-2 {
  padding: 22px 30px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 25px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 51px auto 0 6px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 2px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 40px auto 0 0;
  padding: 14px 30px 15px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/scandinavian-vintage-wood-cabinet-with-chair-by-dark-blue-wall_53876-98164.jpg");
  background-position: 50% 50%;
  min-height: 232px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 232px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: 25px 0 0;
}

.u-section-1 .u-image-3 {
  min-height: 232px;
  background-image: url("images/interior-design-dining-room-comtemporary-style-concept_53876-31643.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 929px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 383px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-1 .u-image-2 {
    min-height: 191px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 191px;
  }

  .u-section-1 .u-image-3 {
    min-height: 191px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-1 .u-image-1 {
    min-height: 293px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    min-height: 146px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    min-height: 146px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1443px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-2 {
    min-height: 329px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 329px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1571px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 208px;
  }

  .u-section-1 .u-image-2 {
    min-height: 207px;
  }

  .u-section-1 .u-image-3 {
    min-height: 207px;
  }
}